<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
    <div class="titlebar container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ request.route_url("list") }}">Kyle's Journal</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{{ request.route_url("add_entry") }}">Add Entry</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                {% if request.authenticated_userid %}
                    <li><a href="{{ request.route_url("logout") }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ request.route_url("login") }}">Log In</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
    </div>
    {% block content %}
    {% endblock content %}
    </body>
</html>
