{% extends "base.jinja2" %}
{% block content %}
<div class="posts container">
    <ul>
    {% for entry in entries %}
        <li>
        <a href="{{ request.route_url("detail", id = entry.id) }}">{{ entry.title }}</a>-{{ entry.created.date() }}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock content %}
